.cardsPage {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
  grid-column-gap: 4rem; 
  padding-top: 3rem;
}

.searchField {
  width: 15rem;
}

@media only screen and (max-width: 1600px) {
  .cardsContainer {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 1080px) {
  .cardsContainer {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 720px) {
  .cardsContainer {
    grid-template-columns: auto;
  }
}